.footer {
    background-color: #000000;
    color: #999999;
    font-size: 0.75em;
    height: 50px;
    .row {
        padding-top: 20px;
        .floatleft {
            float: left;
        }
        .floatright {
            float: right;
        }
        .light-grey {
            color: lightgray;
        }

        .footer-item{
            float: none;
            border-right: #999999 solid 1px;
            padding-right: 5px;
            padding-left: 5px; 

            &:last-child{
              border-right: none;  
            }
        }
    }
    a {
        color: #999999;
    }
}