@@include('./head.html')
<body class="homepage">
    <div class="header">
        <div class="logo">
            <a href="/"><img src="assets/css/EYLogo.png" alt="EY logo" /></a>
        </div>
        <div class="COEtitle">
            <b>COE</b> - ASSETS
        </div>
        <div class="row">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="box">
                <ul id="menu">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="Learning_Assets_Search.html">Learning Assets Search</a></li>
                    <li><a href="Asset_Requests.html">Asset Requests</a></li>
                    <li><a href="Support.html">Support</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <section class="toppage">
        <video id="full-video" preload autoplay loop>
            <source src="assets/files/Final.mp4" type="video/mp4">
            fallback image 
            <img src="css/XXX.jpg"/>
        </video>

        <div class="carousel">
            <div class="item">
                <h1>WHAT’S NEW</h1>
                <p>Lorem ipsum dolor sit amet, ne facer referrentur eam, error scaevola at est. 
                    Congue molestiae his ei, unum assentior qui ut, rebum zril ad pro. Saperet 
                    corpora vix eu. His cu quot dissentiet. Petentium adipiscing vis ea, no has 
                    persius principes.Animal feugait imperdiet te eum. His esse deseruisse 
                    suscipiantur an, nec posse habemus sapientem id, ex vide paulo putant vis. 
                    Sea in saperet legimus signiferumque. </p>
            </div>
            <div class="item">
                <h1>WHAT’S NEW</h1>
                <p>Lorem ipsum dolor sit amet, ne facer referrentur eam, error scaevola at est. 
                    Congue molestiae his ei, unum assentior qui ut, rebum zril ad pro. Saperet 
                    corpora vix eu. His cu quot dissentiet. Petentium adipiscing vis ea, no has 
                    persius principes.Animal feugait imperdiet te eum. His esse deseruisse 
                    suscipiantur an, nec posse habemus sapientem id, ex vide paulo putant vis. 
                    Sea in saperet legimus signiferumque. </p>
            </div>
            <div class="item">
                <h1>WHAT’S NEW</h1>
                <p>Lorem ipsum dolor sit amet, ne facer referrentur eam, error scaevola at est. 
                    Congue molestiae his ei, unum assentior qui ut, rebum zril ad pro. Saperet 
                    corpora vix eu. His cu quot dissentiet. Petentium adipiscing vis ea, no has 
                    persius principes.Animal feugait imperdiet te eum. His esse deseruisse 
                    suscipiantur an, nec posse habemus sapientem id, ex vide paulo putant vis. 
                    Sea in saperet legimus signiferumque. </p>
            </div>
            <div class="item">
                <h1>WHAT’S NEW</h1>
                <p>Lorem ipsum dolor sit amet, ne facer referrentur eam, error scaevola at est. 
                    Congue molestiae his ei, unum assentior qui ut, rebum zril ad pro. Saperet 
                    corpora vix eu. His cu quot dissentiet. Petentium adipiscing vis ea, no has 
                    persius principes.Animal feugait imperdiet te eum. His esse deseruisse 
                    suscipiantur an, nec posse habemus sapientem id, ex vide paulo putant vis. 
                    Sea in saperet legimus signiferumque. </p>
            </div>
        </div>
    </section>
    <section class="Oppsdashboard">
        <div class="row">
            <h1>Opps dashboard</h1>
            <p>Lorem ipsum dolor sit amet, ne facer referrentur eam, error scaevola at est. Congue molest iae his ei, unum assentior qui ut, rebum zril ad pro. Saperet corpora vix eu.</p>
            <img src="assets/css/temp.png" alt=""/>
           
        </div>
    </section>

    @@include('./footer.html')
    <script src="assets/js/script.js"></script>
    <script src="assets/js/home.js"></script>

</body>
</html>
