    

@@include('./head.html')

<body class="homepage">
    <div class="header">

        <div class="logo">
            <a href="/"><img src="assets/css/EYLogo.png" alt="EY logo" /></a>
        </div>
        <div class="COEtitle">
            <b>COE</b> - ASSETS
        </div>


        <div class="row">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="box">
                <ul id="menu">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="Learning_Assets_Search.html">Learning Assets Search</a></li>
                    <li><a href="Asset_Requests.html">Asset Requests</a></li>
                    <li><a href="Support.html">Support</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div data-page="home" class="page1 section">
        <div class="row">

        </div>
    </div>


    @@include('./footer-banner.html')
    <script src="assets/js/script.js"></script>
    <script src="assets/js/home.js"></script>

</body>
</html>
