
@@include('./head.html')

<body class="searchsystem">
    @@include('./header.html')


    <section class="toppage">



    </section>


    <section class="container clearfix">
        <div class="searchbox2">

            <input type="text" class="form-control" id="searchbox" placeholder="Search &hellip;" autocomplete="off">
            <select  id="changesearch">
                <option value="SearchTitle">Search Title</option>
                <option value="SearchCreds">Search Credentials</option>

            </select>
            <span class="glyphicon glyphicon-search search-icon"></span>


        </div>
        <div class="searchtitle">Filter your results</div>


        <div class="sidebar col-md-3">

            <div class="filtergroops">
                <div class="title accordion">Topic<img src="assets/css/arrow_down.png" alt=""/></div>  
                <div class="filterwrapp">
                    <div class="well">
                        <fieldset id="Topic">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Business Strategy">
                                    <span>Business Strategy</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Compliance & Regulations">
                                    <span>Compliance & Regulations</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Digital">
                                    <span>Digital</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Finance">
                                    <span>Finance</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Innovation">
                                    <span>Innovation</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Management and Leadership">
                                    <span>Management and Leadership</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Professional Effectiveness">
                                    <span>Professional Effectiveness</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Project Effectiveness">
                                    <span>Project Effectiveness</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Sales and Customer facing skills">
                                    <span>Sales and Customer facing skills</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Technology">
                                    <span>Technology</span> 
                                </label>
                            </div>
                        </fieldset>
                    </div>

                </div>                                               
            </div>

            <div class="filtergroops">
                <div class="title accordion">Service line<img src="assets/css/arrow_down.png" alt=""/></div> 
                <div class="filterwrapp">                    
                    <div class="well">
                        <fieldset id="Serviceline">                           
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Firm wide">
                                    <span>Firm wide</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Advisory">
                                    <span>Advisory</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="FSO wide">
                                    <span>FSO wide</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Risk">
                                    <span>Risk</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="PI">
                                    <span>PI</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="PAS">
                                    <span>PAS</span> 
                                </label>
                            </div>
                        </fieldset>
                    </div>                    
                </div>                                               
            </div>



            <div class="filtergroops">               
                <div class="title accordion">Region<img src="assets/css/arrow_down.png" alt=""/></div> 
                <div class="filterwrapp">                  
                    <div class="well">
                        <fieldset id="Region">                          
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Global">
                                    <span>Global</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Africa">
                                    <span>Africa</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Americas">
                                    <span>Americas</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Asean">
                                    <span>Asean</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="CIS">
                                    <span>CIS</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="CSE">
                                    <span>CSE</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Canada">
                                    <span>Canada</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="FSO">
                                    <span>FSO</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="GSA">
                                    <span>GSA</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Greater China">
                                    <span>Greater China</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="India">
                                    <span>India</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Israel">
                                    <span>Israel</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Japan">
                                    <span>Japan</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Korea">
                                    <span>Korea</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="LATAM">
                                    <span>LATAM</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="MED">
                                    <span>MED</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="MENA">
                                    <span>MENA</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Nordics">
                                    <span>Nordics</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Oceania">
                                    <span>Oceania</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="UK&I">
                                    <span>UK&I</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="WEM">
                                    <span>WEM</span> 
                                </label>
                            </div>
                        </fieldset>
                    </div>                    
                </div>                                               
            </div>


            <div class="filtergroops">           
                <div class="title accordion">Length<img src="assets/css/arrow_down.png" alt=""/></div> 
                <div class="filterwrapp">                 
                    <div class="well">
                        <fieldset id="Length">                        
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Any">
                                    <span>Any</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="5 mins">
                                    <span>5 mins</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="15 mins">
                                    <span>15 mins</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="30 mins">
                                    <span>30 mins</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="60 mins">
                                    <span>60 mins</span> 
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="60+ mins">
                                    <span>60+ mins</span> 
                                </label>
                            </div>
                        </fieldset>
                    </div>

                </div>                                               
            </div>




        </div>
        <div id="col-md-9" class="col-md-9 ">
            <div class="appyedfilters clearfix">

            </div>

            <div class="infodiv">


                <div class="clearfix">
                    <div class="perpage">
                        <span id="total">0</span> Results / Per Page: <span class="content per_page"></span>
                    </div>

                    <!--                    <div class="wiews">
                                            <a id="two" href="#"><img src="assets/css/tile.png" alt=""/></a>
                                            <a id="one" href="#"><img src="assets/css/list.png" alt=""/></a>
                                        </div>-->


                </div>
                <div class="clearfix"></div>



            </div>
            <div class="clearfix"></div>
            <div class="movies" id="movies"> </div>
            <div class="pag"></div>
            <div class="clearfix">

            </div>
        </div>
    </section>

    <div class="greybg"></div>
    <div class="greybg2"></div>
    <div class="footer clearfix">
        <div class="row">
            <div class="floatleft">
                © 2018 EYGM Limited.
                All Rights Reserved.
            </div>
            <div class="floatright">
                <a class="backToTop" href="#">Back to Top</a>
            </div>
        </div>
    </div>



    <script id="courses" type="text/html">

        <div class="thumbnail">   
            <div class="headerimage">

                <% if ( Mainimage ){ %>            
                <img src="https://sites.ey.com/sites/digitalassets/images/<%= Mainimage %>"/>
                <% } %>

            </div>


            <div class="caption">
                <h4><%= Title %></h4>                   
                <div class="detail">

                    <p>
                        <b>Learning Objective</b><br />
                        <%= Learning_x0020_objectives %>
                    </p>


                </div>
            </div>




            <div class="popup">
                <div class="closepopup">
                    <img src="assets/css/closepopup.png" alt=""/>
                </div>

                <div class="coursetytle"><%= Title %></div>

                <p>
                    <b>IP Ownership</b><br />
                    <%= IP_x0020_ownership %>
                </p>
                <p>
                    <b>RECOMMENDED PRICING</b><br />
                    <%= Recommended_x0020_pricing %>
                </p>
                <p>
                    <b>DATE OF RELEASE</b><br />
                    <%= date_x0020_of_x0020_release %>
                </p>
                <p>
                    <b>Last updated</b><br />
                    <%= Last_x0020_updated %>
                </p>
                <p>
                    <b>CREDENTIALS</b><br />
                    <%= Credentials %>
                </p>               
                <p>
                    <b>EY SMR contact</b><br />
                    <%= EY_x0020_SMR_x0020_contact %>
                </p>
                <p>
                    <b>Length</b><br />
                    <%= Length %>
                </p>
                <p>
                    <b>Learning type</b><br />
                    <%= Learning_x0020_type %>
                </p>




            </div>
        </div>
    </script>


    <script id="list-template" type="text/html">
        <div class="col-md-4 movie">
            <div class="thumbnail">            
                <div class="caption">
                    <h4><%= _fid %>. <%= Title %></h4>
                    <div class="outline">
                        <%= description %>
                        <span class="runtime">
                            <i class="glyphicon glyphicon-time"></i>
                            <%= Duration %>
                        </span>
                    </div>
                    <div class="detail">
                        <dl>
                            <dt>Course Code</dt>
                            <dd><%= coursecode %></dd>       
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script id="genre_template" type="text/html">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="<%= genre %>"> <%= genre %>
            </label>
        </div>
    </script>

    <script src="assets/js/script.js"></script>
    <script src="assets/js/search.js"></script>

</body>
</html>
