<footer>

    <div class="wrapper row">
        <div class="contact-text  ">
            CONTACT <br><br>
            ERNST & YOUNG LLP <br>
            25 CHURCHILL PLACE, CANARY WHARF, <br>
            LONDON E14 5EY, UNITED KINGDOM
        </div>

        <div class="contact-detail-with-icon">
            <img class="icon" src="assets/css/phone_icon.png" alt="phone icon">
            +44 (0) 207 951 XXXX
        </div>
        <div class="contact-detail-with-icon">
            <img class="icon" src="assets/css/email_icon.png" alt="email icon">
            <a href="mailto:COE-assets@uk.ey.com"> COE-assets@uk.ey.com</a>
        </div>


        <div id="embedded-feed" style="height:300px;width:400px;">Yammer</div>

    </div>
    @@include('./footer-banner.html')
</footer>

<script type="text/javascript" src="https://s0.assets-yammer.com/assets/platform_embed.js"></script>
<script type="text/javascript">
    yam.connect.embedFeed({
        container: "#embedded-feed",
        network: "ey.com",
        feedType: "group",
        feedId: "10183505"
    });
</script>