<div class="footer clearfix">
    <div class="row">
        <div class="floatleft">
            <span class="footer-item">
                © 2018 EYGM Limited.
                All Rights Reserved.
            </span>
            <span class="footer-item">
                Privacy Policy
            </span>
            <span class="footer-item">
                FAQ
            </span>
            <span class="footer-item">
                Support
            </span>
        </div>
        <div class="floatright">
            <span class="footer-item">
                <a class="backToTop" href="#">Back to Top</a>
            </span>
            <span class="footer-item">
                Designed by <span class="light-grey">DesignLab</span>
            </span>

        </div>
    </div>
</div>