<div class="header">

    <div class="logo">
        <a href="/"><img src="assets/css/EYLogo.png" alt="EY logo" /></a>
    </div>
    <div class="COEtitle">
        <b>COE</b> - ASSETS
    </div>


    <div class="row">
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="box">
            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="search.html">Learning Assets Search</a></li>
                <li><a href="search.html">Asset Requests</a></li>
                <li><a href="search.html">Support</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>